.pageLink {
    display: block;
    text-align: center; /* căn giữa theo chiều ngang */
    background-color: lightblue;

}
span{
    color: red;
}
.pageLink a {
    display: inline-block; /* chuyển thành phần tử inline block để có thể áp dụng width và margin */
    width: 100px; /* độ rộng mong muốn của mỗi phần tử a */
    margin: 50px 150px; /* căn lề giữa các phần tử a */
    text-decoration: none;
    font-size: 20px;
}

body {
    font-family: Arial, sans-serif;
}

h2 {
    text-align: center;
}

form {
    max-width: 450px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 8px;
}

input[type="submit"],input[type="number"],input[type="password"],input[type="text"],input[type="date"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}
input[type="submit"] {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}
