.pageLink {
    text-align: center; /* căn giữa theo chiều ngang */
    background-color: lightblue;

}

.pageLink a {
    display: inline-block; /* chuyển thành phần tử inline block để có thể áp dụng width và margin */
    width: 100px; /* độ rộng mong muốn của mỗi phần tử a */
    margin: 50px 150px; /* căn lề giữa các phần tử a */
    text-decoration: none;
    font-size: 20px;
}